<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Vision Zero</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
        .div-inline {
            position: absolute;
            top: 10px;
            z-index: 1;
            width: 250px;
        }
        #origin-input,
        #destination-input {
          background-color: #fff;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 300;
          margin-left: 12px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 250px;
          height: 25px;
        }

        .slidecontainer {
            position: absolute;
            margin-left: 12px;
            padding: 0 11px 0 0;
            width: 276px;
            height: 100px;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            background: #A9A9A9;
            outline: none;
            opacity: 0.9;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background: #4CAF50;
            cursor: pointer;
        }
        p {
          margin: 0;
          padding: 0;
          display: inline-block;
        }
        .left {
          float: left;
          text-align: left;
        }
        .center {
          text-align: center;
          width: 60%;
        }
        .right {
          float: right;
        }
        #submit {
          margin-left: 12px;
          margin-top: 50px;
        }
    </style>
</head>
<body>

  <div class='div-inline'>
      <form action="myaction" method="post" id="form1">
        <input id="origin-input" type="text" name="origin"
          placeholder="Origin location" required>
        <input id="destination-input" type="text" name="destination"
            placeholder="Destination location" required>
      </form>
      <div class="slidecontainer">
        <input type="range" min="0.0" max="1.0" step="0.1" value="0.5" class="slider" id="myRange">
        <p class="left">shortest</p>
        <p class="center">Value: <span id="demo"></span></p>
        <p class="right">safest</p>
      </div>
      <button id="submit" button type="submit" form="form1" value="Submit">Submit</button>
  </div>

  <style type='text/css'>
      #info {
          display: block;
          position: relative;
          margin: 0px auto;
          width: 45%;
          padding: 2px;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          text-align: center;
          color: #222;
          background: #fff;
      }
  </style>
  <div id='map'></div>
  <span id='lat'></span>
  <span id='lng'></span>
  <pre id='info'></pre>



<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}

mapboxgl.accessToken = 'pk.eyJ1IjoibHVjYXNnc2dzIiwiYSI6ImNqaGdrdXEwMTFrNjgzMG4yZDNuNGNuNjcifQ.5OaAi-be_cY8koxkRs076g';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: <%= center %>,
    zoom: 12.5
});
map.on('load', function () {
    map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
            "type": "geojson",
            "data": {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "LineString",
                    "coordinates": <%= coordinates %>
                    // [[-73.9947223, 40.7164964], [-73.9944558, 40.7169745], [-73.9954317, 40.7173076], [-73.9948124, 40.7184578], [-73.9943905, 40.7194567], [-73.9941321, 40.7200948], [-73.9939823, 40.7203048],
                    // [-73.9937341, 40.7209205], [-73.9934649, 40.7216124], [-73.9932043, 40.7223416], [-73.9930317, 40.7228017], [-73.9925624, 40.7240528], [-73.99251, 40.724192], [-73.9922645, 40.7248794],
                    // [-73.9921428, 40.7252143], [-73.9919974, 40.7256194], [-73.9917229, 40.7263629], [-73.9918561, 40.726419], [-73.99364, 40.727289], [-73.993147, 40.727867], [-73.9914198, 40.7298614]]
                }
            }
        },
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            "line-color": "#888",
            "line-width": 8
        }
    });
});
map.on('mousemove', function (e) {
    document.getElementById('info').innerHTML =
        // e.point is the x, y coordinates of the mousemove event relative
        // to the top-left corner of the map
        // JSON.stringify(e.point) + '<br />' +
        // e.lngLat is the longitude, latitude geographical position of the event
        JSON.stringify(e.lngLat);
});
var click_count = 0;
map.on('click', function(e) {
    // get lat/lon of click
    var clickLat = e.lngLat["lat"];
    var clickLon = e.lngLat["lng"];
    // show in input box
    if (click_count % 2 == 0){
      document.getElementById("origin-input").value = [clickLon, clickLat];
    } else {
      document.getElementById("destination-input").value = [clickLon, clickLat];
    }
    click_count = click_count + 1;
    map.flyTo({
      center: [clickLon, clickLat],
      zoom: 12.5
    });
    var marker = new mapboxgl.Marker()
      .setLngLat([clickLon, clickLat])
      .addTo(map);
});
</script>

</body>
</html>
