<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Vision Zero</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:100px; bottom:0; width:100%; }
    </style>
</head>
<body>
  <form action="myaction" method="post">
  Latitude:<br>
  <input type="text" name="coordinate[lat]" id='lat'><br>
  Longitude:<br>
  <input type="text" name="coordinate[lng]" id='lng'>
  <input type="submit" value="OK">
  </form>


  <style type='text/css'>
      #info {
          display: block;
          position: relative;
          margin: 0px auto;
          width: 45%;
          padding: 2px;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          text-align: center;
          color: #222;
          background: #fff;
      }
  </style>
  <div id='map'></div>
  <span id='lat'></span>
  <span id='lng'></span>
  <pre id='info'></pre>



<!-- <div id='map'></div> -->
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibHVjYXNnc2dzIiwiYSI6ImNqaGdrdXEwMTFrNjgzMG4yZDNuNGNuNjcifQ.5OaAi-be_cY8koxkRs076g';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [-73.99326785714284, 40.72278695238094],
    zoom: 12.5
});

map.on('load', function () {

    map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
            "type": "geojson",
            "data": {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "LineString",
                    "coordinates":
                    [[-73.9947223, 40.7164964], [-73.9944558, 40.7169745], [-73.9954317, 40.7173076], [-73.9948124, 40.7184578], [-73.9943905, 40.7194567], [-73.9941321, 40.7200948], [-73.9939823, 40.7203048],
                    [-73.9937341, 40.7209205], [-73.9934649, 40.7216124], [-73.9932043, 40.7223416], [-73.9930317, 40.7228017], [-73.9925624, 40.7240528], [-73.99251, 40.724192], [-73.9922645, 40.7248794],
                    [-73.9921428, 40.7252143], [-73.9919974, 40.7256194], [-73.9917229, 40.7263629], [-73.9918561, 40.726419], [-73.99364, 40.727289], [-73.993147, 40.727867], [-73.9914198, 40.7298614]]
                }
            }
        },
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            "line-color": "#888",
            "line-width": 8
        }
    });
});




map.on('mousemove', function (e) {
    document.getElementById('info').innerHTML =
        // e.point is the x, y coordinates of the mousemove event relative
        // to the top-left corner of the map
        // JSON.stringify(e.point) + '<br />' +
        // e.lngLat is the longitude, latitude geographical position of the event
        JSON.stringify(e.lngLat);

});

map.on('click', function(e) {
  // get lat/lon of click
  var clickLat = e.lngLat["lat"];
  var clickLon = e.lngLat["lng"];

  // show in input box
  document.getElementById("lat").value = clickLat;
  document.getElementById("lng").value = clickLon;

  var marker = new mapboxgl.Marker()
    .setLngLat([clickLon, clickLat])
    .addTo(map);
  // marker.remove();
});

</script>

</body>
</html>
